@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    background:radial-gradient(circle at 50% 50%,#001f4d,#000814,#000000);
    background-attachment: fixed;
    font-family: "Press Start 2P", system-ui, sans-serif;
    font-size: 16px;
    color: rgba(185, 185, 185, 0.747);
    text-align: center;

}
/* SOMBRAS E CORES h2 , h4 */

h2{
    color:#00d4ff;
    text-shadow:0 0 10px #0011ffea, 0 0 15px #0554ff;
    text-align: center;
}
h3{
    color: yellowgreen;
    text-shadow: 0 0 5px yellow;
    font-size: 16px;
}

h4{
   color: rgb(128, 255, 0); 
    text-shadow: 0 0 5px yellowgreen;
    font-size: 14px;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: seagreen;
}

#linha1, #linha2, #linha3{
height: 30px;
font-size: 12px;
text-shadow:0 0 5px #1c2833;
}

table{
   width: 80%;
    margin: auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#ul, #listas{
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.dica, .dica2, #dica3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

@media (max-width: 1020px) {
    body {
        font-size: 6px;
        align-items: center;
        text-align: center;

    }
    h2 {
        font-size: 6px;
                align-items: center;
        text-align: center;
    }

    h3{
    color: yellowgreen;
    text-shadow: 0 0 5px yellow;
    font-size: 10px;
}

    h4 {
        font-size: 6px;
                align-items: center;
        text-align: center;
    }
    table {
        width: 50%;
        font-size: 6px;
        align-items: center;
        text-align: center;

        #linha1, #linha2, #linha3 {
            height: 15px;
            font-size: 6px;
        }
    }



    footer {
        font-size: 4px;
        align-items: center;
        text-align: center;
    }
}